{{> bootstrap-lib }}
<main class="container">
  <div class="d-flex" id="wrapper">
    {{> admin-nav}}


    <div id="page-content-wrapper" class="w-75">
      <div class="container-fluid px-md-5 px-0 m-5">
        <div class="row g-4 my-2">
          <div class="col-md-4">
            <h2 class="text-dark fw-bold fs-2 text-uppercase text-nowrap">
              Chuyên mục
            </h2>
          </div>

          <div class="offset-md-4 col-md-4">
            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary text-nowrap text-dark" data-bs-toggle="modal"
              data-bs-target="#exampleModalCenteredScrollable">
              <i class="fa-solid fa-plus text-dark"></i>
              Thêm chuyên mục
            </button>
          </div>
        </div>

        <div class="col-lg-12 mt-4">
          <div class="row">
            <div class="col-md-8">
              <div class="posts-search form-outline">
                <form class="d-flex" action="/admin/categories" method="GET">
                  <input class="form-control outline-primary" type="search" name="keyword" id="keywordInput"
                    placeholder="Search" required>
                  <button class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                </form>

              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-info dropdown-toggle text-primary"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Category level: {{categoryLevel}}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{originalUrl}}&level=parent">Parent</a></li>
                  <li><a class="dropdown-item" href="{{originalUrl}}&level=child">Child</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-4 my-2">
          <div class="col">
            {{#each categories }}
            <div class="card border-primary mb-3">
              <div class="card-body">
                <span class="card-text fw-bold">{{#if parentCategory}}
                  {{parentCategory.title}} >
                  {{/if}} {{title}}</span>

                <button class="bg-transparent remove-category text-danger float-end mx-2">
                  <i class="bi bi-trash-fill"></i>
                  Xóa
                </button>
                <button data-bs-toggle="modal" data-bs-target="#editCategoryModal"
                  class="bg-transparent text-info float-end mx-2">
                  <i class="fa-solid fa-pen"></i>
                  Sửa
                </button>
                <a href="#" class="text-primary float-end mx-2">Xem chi tiết</a>
              </div>
            </div>
            {{/each}}

          </div>

          <div class="col-lg-12">
            <nav aria-label="Page navigation example" id="pagination">
              {{{createPagination pagination paginationClass='pagination justify-content-center' leftText='Previous'
              rightText='Next'}}}
            </nav>
          </div>
        </div>

        <!-- Modal for Add category -->
        <div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1"
          aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">
                  Thêm chuyên mục mới
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p class="my-3">Chọn chuyên mục cha</p>
                <div class="input-group my-4">
                  <select class="form-select" id="inputGroupSelect01">
                    <option selected>Chọn</option>
                    <option value="1">Kinh tế</option>
                    <option value="2">Nông nghiệp</option>
                  </select>
                </div>

                <p class="mt-5">Nhập tên chuyên mục mới</p>
                <div class="input-group mb-5">
                  <input type="text" class="form-control" placeholder="Tên chuyên mục mới"
                    aria-label="Tên chuyên mục mới" />
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger">Thêm</button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Hủy
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for Edit category -->
        <div class="modal fade" id="editCategoryModal" tabindex="-1"
          aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">
                  Cập nhật chuyên mục
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p class="my-3">Chọn chuyên mục cha</p>
                <div class="input-group my-4">
                  <select class="form-select" id="inputGroupSelect01">
                    <option selected>Chọn</option>
                    <option value="1">Kinh tế</option>
                    <option value="2">Nông nghiệp</option>
                  </select>
                </div>

                <p class="mt-5">Nhập tên chuyên mục mới</p>
                <div class="input-group mb-5">
                  <input type="text" class="form-control" placeholder="Tên chuyên mục mới"
                    aria-label="Tên chuyên mục mới" />
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger">
                  Cập nhật
                </button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Hủy
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-4 my-2">
          <div class="col-md-3"></div>

          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer}}

<script>
  document.querySelectorAll(".remove-category").forEach((item) =>
    item.addEventListener("click", (e) => {
      if (confirm("Bạn có chắc chắn muốn xóa nhãn này?")) {
        e.target.parentElement.parentElement.remove();
      }
    })
  );

  document.querySelectorAll('#pagination li').forEach((li) => {
    li.classList.add('page-item')
  })
  document.querySelectorAll('#pagination a').forEach((a) => {
    a.classList.add('page-link')
  })
</script>