{{> bootstrap-lib }}

<link rel="stylesheet" href="/css/post.css" />
<link rel="stylesheet" href="/css/general.css" />

<main class="container mt-5">
    <div class="row g-5">
        <div class="offset-lg-2 offset-1 col-lg-6 col-md-8">
            {{#with post}}

            <article class="blog-post">
                <h2 class="blog-post-title">
                    {{title}}
                </h2>
                <br>
                <img src="{{thumbnailUrl}}" class="img-fluid m-2" alt="Post thumbnail" />
                <br>
                <br>
                <div class="blog-post-meta d-flex align-items-center justify-content-between mb-3">
                    <a class="author" target="_blank" href="#">
                        <i class="bi bi-person fs-2"></i>
                        <span> Author id: {{authorId}} </span>
                    </a>

                    <span class="">{{ convertToVietnameseDateTime publishedAt}}</span>
                </div>


                <div id="post-content">
                    {{{ content }}}
                </div>

                <hr class="my-4" />

                <div class="category-container mb-3">
                    <h3 class="text-uppercase mb-3">Chuyên mục</h3>
                    <div class="categories d-flex">

                        <a href="/posts?category={{parentCategory.id}}" class="btn btn-danger rounded-5"
                            style="display: inline-block;">{{parentCategory.title}}
                        </a>


                        <a href="/posts?category={{childCategory.id}}" class="btn btn-danger rounded-5"
                            style="display: inline-block;">{{childCategory.title}}
                        </a>

                    </div>
                </div>

                <div class="category-container mb-3">
                    <h3 class="text-uppercase mb-3">Danh sách nhãn</h3>
                    <div class="tags">
                        {{#each Tags}}
                        <a href="/posts?tag={{id}}" class="btn btn-danger rounded-5" role="button">{{title}}
                        </a>
                        {{/each}}
                    </div>
                </div>
            </article>
            {{/with}}

            <hr class="my-4" />

            <div class="related-posts">
                <h2>Bài viết liên quan</h2>
                <div class="relevant-posts">
                    {{#each relevantPosts}}
                    <div class="relevant-post">
                        <a href="/posts/{{id}}">
                            <img src="{{thumbnailUrl}}" alt="{{title}}" />
                            <h6 class="fw-bold">
                                {{title}}
                            </h6>
                        </a>

                        <div class="relevant-post-metadata">
                            <a href="/posts?category={{category.id}}">{{category.title}}</a>
                            <span>{{ convertToVietnameseDateTime publishedAt}}</span>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>

            <hr class="my-4" />

            <div class="comment container mb-5 mt-5">
                <div class="card">
                    <div class="row">
                        <div id="comments"></div>
                        <div class="col-md-12 comments-container">
                            <h3 class="text-center mb-5">Bình luận</h3>
                            {{!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-8 d-flex align-items-center justify-content-between">
                                                    <a class="d-flex align-items-center" href="profile.html"
                                                        target="_blank">
                                                        <i class="bi bi-person fs-2"></i>
                                                        Nguyễn Văn A</a>
                                                    <span class="float-end">2 hours ago</span>
                                                </div>

                                                <div class="col-4">
                                                    <div class="pull-right reply">
                                                        <a href="#"><span><i class="fa fa-reply"></i>
                                                                reply</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            It is a long established fact that a reader will be
                                            distracted by the readable content of a page.

                                            <div class="media mt-4">
                                                <div class="media-body">
                                                    <div
                                                        class="col-8 d-flex align-items-center justify-content-between">
                                                        <a class="d-flex align-items-center" href="profile.html"
                                                            target="_blank">
                                                            <i class="bi bi-person fs-2"></i>
                                                            Nguyễn Văn A</a>
                                                        <span class="float-end">2 hours ago</span>
                                                    </div>

                                                    letters, as opposed to using 'Content here, content
                                                    here', making it look like readable English.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                            {{#if comments}}
                            {{#each comments}}
                            <div class ="comment-container">
                                <div class = "comment-user-time">
                                    <div>
                                        {{User.name}}
                                    </div>
                                    <div>
                                        {{ convertToVietnameseDateTime publishedAt}}
                                    </div>
                                </div>
                                <div class = "comment-content">
                                    {{content}}
                                </div>
                            </div>
                            {{/each}}
                            {{else}}
                            <div class="no-comment">Chưa có bình luận nào... &#x1F634;</div>
                            {{/if}}
                        </div>
                    </div>
                </div>


                {{#if user}}
                {{#with post}}
                <form class="input-group my-2" action="/posts/comments" method="post">
                    <input type="text" class="form-control" placeholder="Nhập bình luận"
                        aria-label="Nhập bình luận" aria-describedby="button-addon2" name="content" />
                    <input type="number" name="postId" value="{{id}}" hidden>
                    <button class="btn btn-primary" id="button-addon2">
                        Đăng
                    </button>
                </form>
                {{/with}}
                {{/if}}
            </div>
        </div>
    </div>

    {{#if commentSuccess}}
    <div class="alert success">
        <span class="closebtn">&times;</span>
        {{{commentSuccess}}}
    </div>
    {{/if}}

    {{#if commentFailed}}
    <div class="alert warning">
        <span class="closebtn">&times;</span>
        {{{commentFailed}}}
    </div>
    {{/if}}

</main>
<script>
    var close = document.getElementsByClassName("closebtn"); var i; for (i = 0; i
        < close.length; i++) {
        close[i].onclick = function () {
            var div =
                this.parentElement; div.style.opacity = "0"; setTimeout(function () {
                    div.style.display = "none";
                }, 600);
        }
    }
</script>
</main>

{{> footer}}