<!-- CSS -->
<!-- Bootstrap CSS v5.2.1 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

<link rel="stylesheet" href="css/general.css" />

<main class="container my-5">
  <div class="row g-5">
    <div class="col-md-12 col">
      <h2>{{parentCategory.title}}</h2>
      <hr class="text-primary" />
      <div class="sub-category d-flex gap-5">

        {{#each childCategories }}
        {{#if active}}
        {{!-- btn btn-primary --}}
        <a href="/posts?category={{id}}" class="text-primary" id="button-cat1">
          {{title}}
        </a>
        {{else}}
        {{!-- btn btn-outline-primary --}}
        <a href="/posts?category={{id}}" class="" id="button-cat1">
          {{title}}
        </a>
        {{/if}}
        {{/each}}

        {{!-- <button class="btn btn-primary" type="button" id="button-cat1">
          Nông sản
        </button>
        <button class="btn btn-outline-primary" type="button" id="button-cat1">
          Hải sản
        </button> --}}
      </div>
      <hr class="text-dark" />
    </div>
  </div>

  <div class="post-list row my-3">
    {{#each posts }}
    <div class="row row-cols-1">
      <div class="col-md-4 col mb-3">
        <a href="/posts/{{id}}">
          <img src="{{thumbnailUrl}}" class="img-fluid mt-3" alt="Post thumbnail" />
        </a>
      </div>
      <div class="col-md-8 col my-3">
        <div class="post-meta-data d-flex justify-content-between">
          <a href="/posts?category=1">Nông sản</a>
          <span>{{publishedAt}}</span>
        </div>
        <a href="/posts/{{id}}">
          <h6 class="fw-bold">{{title}}</h6>
        </a>
        <p class="text-secondary">
          {{summary}}
        </p>
      </div>
    </div>
    {{/each}}


    <div class="row row-cols-1">
      <div class="col-md-4 col mb-3">
        <a href="/posts/original">
          <img src="/img/post/thumbnail-medium.png" class="img-fluid mt-3" alt="Machine harvesting paddy field" />
        </a>
      </div>
      <div class="col-md-8 col my-3">
        <div class="post-meta-data d-flex justify-content-between">
          <a href="post-list-category.html">Nông sản</a>
          <span>13/03/2023</span>
        </div>
        <a href="/posts/original">
          <h6 class="fw-bold">Thúc đẩy xuất khẩu nông sản chính ngạch</h6>
        </a>
        <p class="text-secondary">
          Đồng bằng sông Cửu Long là là vùng sản xuất và xuất khẩu lương
          thực, thực phẩm, thuỷ hải sản và trái cây lớn nhất của cả nước.
        </p>
      </div>
    </div>

    <div class="row row-cols-1">
      <div class="col-md-4 col mb-3">
        <a href="/posts/original">
          <img src="/img/post/thumbnail-medium.png" class="img-fluid mt-3" alt="Machine harvesting paddy field" />
        </a>
      </div>
      <div class="col-md-8 col my-3">
        <div class="post-meta-data d-flex justify-content-between">
          <a href="post-list-category.html">Nông sản</a>
          <span>13/03/2023</span>
        </div>
        <a href="/posts/original">
          <h6 class="fw-bold">Thúc đẩy xuất khẩu nông sản chính ngạch</h6>
        </a>
        <p class="text-secondary">
          Đồng bằng sông Cửu Long là là vùng sản xuất và xuất khẩu lương
          thực, thực phẩm, thuỷ hải sản và trái cây lớn nhất của cả nước.
        </p>
      </div>
    </div>
  </div>

  <nav class="my-4" aria-label="Pagination">
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>

      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</main>
<hr />

{{> footer}}