<link rel="stylesheet" href="/css/general.css" />
<link rel="stylesheet" href="/css/publish-article.css" />
<main>
  <form action="/admin/reviewPost/publish?id={{id}}" method="post">
    <div class="title">
      Xuất bản bài viết
    </div>
    <div class="category_label--container">
      <div class="small-item--container">
        <div class="small-title">
          Chuyên mục
        </div>
        {{#with category}}
          <div class="small-content">
            {{title}}
          </div>
        {{/with}}
      </div>

      <div class="labels--container">
        <div class="small-title">
          Nhãn
        </div>
        <div class="small-content--no_border">
          {{#each tags}}
            <div class="label--container">
              <a href="#">
                {{title}}
              </a>
            </div>
          {{/each}}
        </div>

      </div>
    </div>

    <div class="container">
      <div class="small-title">
        Ngày xuất bản
      </div>

      <input
        type="date"
        min="now"
        value="now"
        id=""
        id="publish-day"
        name="publishDay"
        required
      />
    </div>

    <div class="container">

      <div class="small-title">
        Giờ xuất bản
      </div>

      <input
        type="time"
        value="now"
        id="publish-time"
        name="publishTime"
        required
      />
    </div>

    <input type="text" name="appPostId" value="{{appPostId}}" hidden />
    <input type="text" name="id" value="{{id}}" hidden />

    <div class="btns-container">
      <button class="btn" id="publish-article-btn">
        Xuất bản
      </button>
      {{!-- <button type="button" class="btn" id="back-btn">
        <a href="/users/profile">Quay lại</a>
      </button> --}}
    </div>
  </form>
  {{#if error}}
    <div class="alert warning">
      <span class="closebtn">&times;</span>
      {{error}}
    </div>
  {{/if}}
</main>
<script>
  var close = document.getElementsByClassName("closebtn"); var i; for (i = 0; i
  < close.length; i++) { close[i].onclick = function () { var div =
  this.parentElement; div.style.opacity = "0"; setTimeout(function () {
  div.style.display = "none"; }, 600); } }
</script>
<script src="/js/admin-article-review.js"></script>